
  .tab{
    width: 100%;
    height: 100vh;
  }


  .tab .row .design img{
    width: 100%;
  }

  .login-btn a{
    text-decoration: none;
    color: purple;
  }
  .tab .design .top{
    height: 25vh;
    background-color: #efbaca;
  }
  .tab .design .bottom{
    height: 30vh;
    background-color: #dcd8d5;
  }

/* form content  */


  .sign-up{
    margin: auto;
  }

  .sign-up h2{
    font-weight: bolder;
  }
  .cont .login-btn{
    text-align: right;
  }
  .cont .warning{
    font-size: small;
  }

  a {
    text-decoration: none;
  }